 /*body{
     background-image: url(../imegenes/8.jpg); 
    background-repeat: no-repeat;
    background-color: #B3B3B3;
    background-size: cover;
} */

.btnHome{
    margin-top: 300px;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 90px;
    width: 250px;
}

.btnHome:hover{
    color: #202121;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 40px grey;
    height: 90px;
    width: 250px;
}